body,head,html,title {
    padding : 0px;
    display:block;
}

body {
    font-family:sans-serif,Arial;
    background-color:aliceblue;
    font-size:13px;
}

.container {
   
    margin:0px auto;
    margin-top:10%;
    width:25%;
    
}

input {

    border:1px solid black;
    border-radius: 3px;
    width:100%;
    padding:10px;
    margin:6px;
    box-sizing: border-box;
}

.failure {

    margin-top:10px;
    font-weight:bold;
    color:red;
    font-size:13px;

}
.success {
    margin-top:10px;
    font-weight:bold;
    color:green;
    font-size:16px;
}