<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />
    <webServices>
      <protocols>
        <add name="HttpGet"/>
        <add name="HttpPost"/>
      </protocols>
    </webServices>
    </system.web>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiSoap" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8678/api.asmx" binding="basicHttpBinding"
                bindingConfiguration="apiSoap" contract="ServiceReference1.apiSoap"
                name="apiSoap" />
        </client>
    </system.serviceModel>
</configuration>
